name: Java CI with Maven

on:
  push:
    branches:  
      - main 


jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    
    - name: Set up JDK 18
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin'
        java-package: jdk
        cache: maven
        
    - name: Build with Maven
      run: mvn -B clean package
      
    - name: Jacoco
      run: mvn -B jacoco:report
      
    - name: Coveralls
      run: mvn -B coveralls:report --define repoToken=${{ secrets.COVERALLS_TOKEN }}
      
 
